{
  "presets": ["env", "es2015", "stage-2", "react"],
  "plugins": [
    "transform-export-extensions",
    "syntax-class-properties",
    "transform-decorators-legacy",
    "transform-class-properties",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }] 
    // ["import", { "libraryName": "antd", "style": "css" }]    
  ]
}